In [3]:
import os 
os.getcwd()

'C:\\Users\\davys\\GitRepo\\NWFintech\\Fintech Homework\\HW-02-Python\\Instructions\\PyBank\\HW'

In [5]:
from pathlib import Path
import pandas as pd
import csv

In [6]:
filepath = Path('C:\\Users\\davys\\GitRepo\\NWFintech\\Fintech Homework\\HW-02-Python\\Instructions\\PyBank\\Resources\\budget_data.csv')

In [7]:
data = pd.read_csv(filepath)

In [8]:
data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [14]:
NumOfMonths = data.shape[0]

In [22]:
df = data.set_index('Date')

In [24]:
NetTotal = sum(df['Profit/Losses'])

In [25]:
df['pct_change'] = df.pct_change()

In [93]:
dollar_change = []
for row in range(len(df)-1):
#     print(row)
    change = df['Profit/Losses'][row]*df['Profit/Losses'].pct_change()[row + 1]
    dollar_change.append(change)
dollar_change.append(0)

In [94]:
df['change'] = dollar_change

In [95]:
df

          Profit/Losses  pct_change    change
Date
Jan-2010         867884         NaN  116771.0
Feb-2010         984655    0.134547 -662642.0
Mar-2010         322013   -0.672969 -391430.0
Apr-2010         -69417   -1.215572  379920.0
May-2010         310503   -5.473011  212354.0
...                 ...         ...       ...
Oct-2016         102685   -0.866374  693229.0
Nov-2016         795914    6.751025 -734926.0
Dec-2016          60988   -0.923374   77242.0
Jan-2017         138230    1.266511  532869.0
Feb-2017         671099    3.854945       0.0

[86 rows x 3 columns]

In [109]:
662642 - 116771

545871

In [107]:
AverageChange = df.change.sum()/(NumOfMonths-1)
MaxProfit = df.change.max()
MaxLoss = df.change.min()

In [108]:

print(NumOfMonths)
print(NetTotal)
print(AverageChange)
print(MaxProfit)
print(MaxLoss)

86
38382578
-2315.117647058826
1926159.0
-2196167.0